/* ******* board-header ****** */

.board-header {

    padding: 6px;
    background-color: #0067a3;
    box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1)
  }
  
  .logo {
    font-family: "Courgette", cursive;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
  }
  
  .logo a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  .logo a{
    color: rgba(255, 255, 255, 0.5);
      text-decoration: none;
  }
